body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif;
  font-size: 18px;
  color: #2d3748;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 400px 1fr;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3c8527;
  gap: 12px;
  color: #ffffff;
  padding: 12px 0;
  grid-column: span 2;
}

header img {
  width: 120px;
  border-radius: 8px;
  border: #e2e8f0 solid;
  border-width: 4px;
}

header h1 {
  font-size: 39px;
  font-family: "Trebuchet MS", Arial, sans-serif;
  margin: 0;
}

header p {
  margin: 0;
}

.blog {
  margin: 12px;
  padding-right: 48px;
}

.blog img {
  width: 200px;
}

.float-right {
  float: right;
  margin: 20px 0px 10px 20px;
}

.float-left {
  float: left;
  margin: 20px 20px 10px 0px;
}

.blog h2 {
  font-size: 34px;
  color: #28651c;
  margin: 0;
}

.blog-tag {
  color: #667267;
  margin: 0;
  font-size: smaller;
}

.about-me {
  color: #333322;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #e2e8f0;
  padding: 12px;
}

.about-me h3 {
  margin: 0;
}

.about-me p {
  margin: 8px 0;
}

.social-media {
  color: #28651c;
  border-left: 4px solid #3c8527;
  padding-left: 12px;
  margin: 24px 0px;
}

.social-media h3 {
  margin: 0;
}

.social-media ul {
  margin: 4px 0 0 0;
  list-style-type: none;
  padding: 0;
}

.social-media a {
  color: #2879b8;
  text-decoration: none;
  font-weight: bold;
}

.archives {
  color: #28651c;
  border-left: 4px solid #3c8527;
  padding-left: 12px;
  margin: 24px 0px;
}

.archives h3 {
  margin: 0;
}

.archives ul {
  margin: 4px 0 0 0;
  list-style-type: none;
  padding: 0;
}

.archives a {
  color: #2879b8;
  text-decoration: none;
  font-weight: bold;
}

aside {
  padding: 20px;
  border-right: 1px solid #d3d3d3;
}

main {
  padding: 20px;
  margin-bottom: 200px;
}

main img {
  width: 400px;
}

footer {
  background-color: #28651c;
  color: #ffffff;
  grid-column: span 2;
  display: flex;
  justify-content: center;
  font-weight: 200;
  font-size: smaller;
}

hr {
  border: 1px solid #d3d3d3;
  margin: 36px 48pxß 36px 0px;
}
